body {
    font-family: Helvetica;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 800px;
    width: 100%;
}
h1 {
    text-align: center;
    color: #333;
}
input, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #45a049;
}
#outputContainer {
    position: relative;
    width: 100%;
    margin: 20px auto;
}
#outputImage {
    width: 100%;
    height: auto;
}

.textOverlay {
    position: absolute;
    font-family: 'Arial Black';
    font-weight: 900;
    color: #000;
    transform-origin: center left;
    white-space: nowrap;
    text-shadow: 0.5px 0.5px 0px rgba(255, 255, 255, 0.5);
}

#downloadLink, #downloadTextLink {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.1s;
    width: calc(50% - 5px);
    box-sizing: border-box;
}

#downloadLink {
    background-color: #4CAF50; /* Green */
    margin-right: 5px;
}

#downloadLink:hover {
    background-color: #45a049;
}

#downloadTextLink {
    background-color: #3498db; /* Blue */
    margin-left: 5px;
}

#downloadTextLink:hover {
    background-color: #2980b9;
}

#downloadLink:hover, #downloadTextLink:hover {
    transform: scale(1.05);
}

#downloadLink:active, #downloadTextLink:active {
    transform: scale(0.98);
}

/* Container for download buttons */
.download-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.coordinates {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.coordinates input {
    width: calc(50% - 5px);
}

.coordinates {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.coordinate-control {
    display: flex;
    align-items: center;
}

.coordinate-control label {
    margin-right: 5px;
}


.coordinate-control button {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 5px;
}
